@font-face {
    font-family: 'aurella';
    src: url(../External_materials/Aurella.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

.topRelative {
    position: relative;
    width: 100vw;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#myName {
    position: fixed;
    left: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 15px #e5ab42;
}

.header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100;

    border-bottom: solid rgb(209, 189, 77);
    /* background-color: rgb(202, 111, 7); */
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    background-image: url("https://img.freepik.com/free-vector/flower-seamless-border-floral-banner-arrangement-from-leaves-flowers-maroon-gold-flower-frame_41066-3683.jpg?t=st=1722239167~exp=1722242767~hmac=e1e04b46556dea51e7b32da3b62dcf66f69d333a5b19e0e5ea26989c4a3e681c&w=1380");
}

h1 {
    /* margin-left: auto;
    margin-right: auto; */
    /* flex-shrink: 0; */
    /* display: flex; */
    font-size: 40px;
    text-shadow: 0 0 10px pink;
    color: rgb(37, 37, 37);
    /* font-family: aurella, cursive; */
}

.writeMessageButton {
    height: 100%;
    /* margin-left: auto; */
    transition: 0.3s;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 30px rgba(201, 164, 201, 0.9);
    /* background-color: #c78cc7; */
    background-color: rgb(106, 141, 101);
    width: 230px;
}

.writeMessageButton:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

.writeMessageButton:active {
    transform: translateY(5px);
    /* box-shadow: 0 4px #666; */
}

.writeMessageButton:focus {

}

.writeButtonText {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
    transform: 0.3s;
    font-size: 16px;
    color: rgb(250, 247, 247);
    text-shadow: 0 0 5px black;
}

.headerButtonContainer {
    margin-left: auto;
    position: fixed;
    right: 0;
    margin-right: 5vw;
    /* display: flex;
    flex-shrink: 1; */
    height: 50px;
}

body {
    /* background-color: black; */
    /* background-image: linear-gradient(to right, #ff66ff, #d4d0cc); */
    /* background-image: linear-gradient(to right, #f180f1, #d4d0cc); */
    background-color: rgb(255, 218, 218);
    /* padding: 10%; */
    width: auto;
}

.subBodyContainer {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.mainContainerDiv {
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    /* width: fit-content; */
    max-width: 86%;
    justify-content: flex-start;
    align-items: flex-start;
}

.messageDivStatic {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.messageDiv {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    /* margin: 30px auto 0px 10px; */
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    height: 300px;
    width: 250px;
    box-sizing: border-box;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s;
    transition: 0.3s;
    position: relative;
}

.messageDivExpanded {
    top: 200px;
    left: calc((100vw - 500px)/2);
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    height: 600px;
    width: 500px;
    box-sizing: border-box;
    box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s;
    transition: 0.3s;
    position: fixed;
    font-size: 2em;
    z-index: 10;
}

.messageDiv:hover{
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1);
    transition: 0.3s;
    cursor: pointer;
}

.messageDivExpanded:hover {
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1);
    transition: 0.3s;
    cursor: pointer;
}

.messageBackgroundDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    border-radius: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.7;
    /* filter: blur(2px); */
}

.messageContentDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 10px;
    padding: 4%;
    box-sizing: border-box;
}



.messageTextContainer {
    padding: 2.2%;
    height: 71%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    box-sizing: border-box;
    border: solid;
    border-width: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}

.messageText {
    color: black;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* color: white; */
    /* width: calc(100% - 5px); */
    display: -webkit-box;
    -webkit-line-clamp: 11; /* Number of lines */
    -webkit-box-orient: vertical;
    font-size: 15px;

    white-space: pre-wrap;
    text-align: left;
}

.authorText {
    margin-top: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.5em;
}

.lightBackgroundTextDiv {
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: rgba(255, 255, 255, 0.7);
}

.notLightBackgroundTextDiv {
    background-color: rgba(255, 255, 255, 0.7);
    /* background-color: rgba(0, 0, 0, 0.7); */
}

.lightFromBackdrop {
    background-color: rgba(255, 255, 255, 0.7);
}

.notLightFromBackdrop {
    background-color: rgba(255, 255, 255, 0.7);
}

.lightFromTextColor {
    /* color: rgb(13, 13, 119); */
    /* color: rgb(27, 161, 34); */
    text-align: center;
    text-shadow: 0 0 5px white;
    color: black;
    width: fit-content;
    height: fit-content;
    /* font-size: 1em; */
}

.notLightFromTextColor {
    /* color: white; */
    color: black;
    text-align: center;
    /* text-shadow: 0 0 5px black; */
}

.lightMessageTextColor {
    /* color: white; */
    color: black;
}

.notLightMessageTextColor {
    color: black;
}