<%- include('../partials/head') %>
<form method="POST" action="/new">
    <input type="text" name="author" placeholder="Your name"><br>
    <input type="text" name="content" placeholder="Your message"><br>
    <button name="clickButton">Click me</button>
</form>
<%- include('../partials/footer') %>