<%- include('../partials/head') %>

<p>Is there something you would like to say to a special someone? Would you like to confess your sins? How about just letting loose on some of the frustrations you have had over your whole life? Just let it all out!!!</p>


<form method="POST" action="/new">
    <input type="text" name="author" placeholder="Your name"><br>
    <input type="text" name="content" placeholder="Your message"><br>
    <button name="clickButton">Click me</button>
</form>
<%- include('../partials/footer') %>